<!DOCTYPE html>
<html>
  <%- include("../templates/head.ejs") %>
  <body>

    <%- include("../templates/navBar.ejs", {user}) %>

    <div class="container">
      <h1>Reference Manager</h1>


      <%- include("../templates/messages.ejs") %>

      <div class="row">
        <div class="col-8">
          <%- include("../components/searchBar.ejs", { query }) %>
          <%- include("../components/referencesList.ejs", { references, currentPage, lastPage }) %>
        </div>
        <div class="col-4">
          <%- include("../components/formCreateReference.ejs") %>
        </div>
      </div>

    </div>

    <%- include("../templates/footer.ejs") %>
  </body>
</html>
